.table-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.employee-table th {
  text-align: center;
}

.employee-table th,
.employee-table td {
  padding: 10px 15px;
  border: 1px solid #ddd;
}

.employee-table th {
  background-color: #f1f1f1;
}

.employee-table td input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pagination select {
  margin-left: 10px;
  padding: 5px;
}

.pagination button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
