@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --color-primary: #f6f6f6; /* Tomato */
  --color-secondary: #4caf50; /* Green */
  --color-background: #f6f6f6; /* Light Gray */
  --color-text: #333333; /* Dark Gray */
  --color-border: #cccccc; /* Light Gray */
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem; /* 16px */
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Loading spinner */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.loading-text {
  margin-top: 1rem;
  color: #6c757d;
  font-size: 1.4rem; /* Added font size for loading text */
}
