/* Loading spinner */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.loading-text {
  margin-top: 10px;
  color: #6c757d;
  font-size: 14px; /* Added font size for loading text */
}
